# OpenShift objects
route: true
# if false use a kube deployment instead
deploymentConfig: false
replicas:
  min: 2
  max: 10
image_repository: quay.io
image_name: word-analyzer
image_namespace: eformat
image_version: latest
# enable image stream in chart
is:
  enabled: true
# use the image specified above as tag (else tag overridden in pipeline say)
istag:
  enabled: true
# Horizontal Pod Autoscaler
hpa:
  enabled: true
  cpuTarget: 250m
  memTarget: 500Mi
# elastic related
elasticsearch_hosts: engagements-es-http:9200
elasticsearch_username: elastic
elasticsearch_protocol: http
