{{- if .Values.deploymentConfig }}
---
apiVersion: apps.openshift.io/v1
kind: DeploymentConfig
metadata:
  name: {{ include "word-analyzer.fullname" . }}
  labels:
    {{- include "word-analyzer.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicas.min }}
  revisionHistoryLimit: 10
  selector:
    {{- include "word-analyzer.selectorLabels" . | nindent 4 }}
  strategy:
    activeDeadlineSeconds: 21600
    resources: {}
    rollingParams:
      intervalSeconds: 1
      maxSurge: 25%
      maxUnavailable: 25%
      timeoutSeconds: 600
      updatePeriodSeconds: 1
    type: Rolling
  template:
    metadata:
      annotations:
        prometheus.io/scrape: 'true'
        prometheus.io/path: '/metrics'
        prometheus.io/port: '8080'
        rollme: {{ randAlphaNum 5 | quote }}
      creationTimestamp: null
      labels:
        {{- include "word-analyzer.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - env:
            - name: QUARKUS_PROFILE
              value: prod
            - name: QUARKUS_LOG_LEVEL
              value: INFO
            - name: QUARKUS_ELASTICSEARCH_HOSTS
              value: {{ .Values.elasticsearch_hosts | quote }}
            - name: QUARKUS_ELASTICSEARCH_USERNAME
              value: {{ .Values.elasticsearch_username | quote }}
            - name: QUARKUS_ELASTICSEARCH_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: elastic-password
                  name: {{ include "word-analyzer.fullname" . }}
            - name: QUARKUS_ELASTICSEARCH_PROTOCOL
              value: {{ .Values.elasticsearch_protocol | quote }}
          image: ''
          imagePullPolicy: Always
          volumeMounts:
            - name: engagements-config
              readOnly: true
              mountPath: /var/tmp/engagements
              subPath: engagements
          name: {{ include "word-analyzer.name" . }}
          livenessProbe:
            httpGet:
              path: /q/health/live
              port: 8080
              scheme: HTTP
            timeoutSeconds: 1
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 3
          ports:
            - containerPort: 8080
              protocol: TCP
            - containerPort: 8443
              protocol: TCP
          resources:
            limits:
              cpu: '1000m'
              memory: 2048Mi
            requests:
              cpu: '100m'
              memory: 50Mi
          readinessProbe:
            httpGet:
              path: /q/health/ready
              port: 8080
              scheme: HTTP
            timeoutSeconds: 1
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 3
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
      volumes:
        - name: engagements-config
          configMap:
            name: {{ include "word-analyzer.fullname" . }}
            defaultMode: 511
  test: false
  triggers:
    - type: ConfigChange
    - imageChangeParams:
        automatic: true
        containerNames:
          - {{ include "word-analyzer.name" . }}
        from:
          kind: ImageStreamTag
          name: {{ include "word-analyzer.fullname" . }}:{{ .Values.image_version }}
        lastTriggeredImage: ""
      type: ImageChange
{{- end }}
